:root {
    /* --slidev-slide-container-background: #ffffff; */
    direction: rtl;
}
 

.slidev-layout {
    padding-top: 20mm;
    padding-bottom: 25mm;
    padding-right: 20mm;
    padding-left: 20mm;
}

/*
#slide-content {
    background-color: #191919;
} */

.slidev-layout li {
    line-height: 1.8em;
    margin-right: 1.1em;
    padding-right: 0.2em;
}

